In [1]:
import os
import numpy as np
import pandas as pd
from sqlalchemy import create_engine, select, MetaData, Table

In [2]:
engine = create_engine('postgresql://postgres:123456@localhost:5432/test_wide')

In [4]:
# to be used with type=1~2
dt_int = np.dtype([
    ('useless_0', 'u4'),
    ('time', 'f8'),
    ('useless_1', 'u4'),
    ('value', 'u8'),
    ('raw_value', 'u8'),
                ])

# to be used with type=0
dt_float = np.dtype([
    ('useless_0', 'u4'),
    ('time', 'f8'),
    ('useless_1', 'u4'),
    ('value', 'f8'),
    ('raw_value', 'u8'),
                ])

In [6]:
dirs_to_scan = [d for d in os.scandir() if d.is_dir() and d.name != '.ipynb_checkpoints']

In [7]:
zk102_file = os.path.join(dirs_to_scan[0], '5197_24138_00')
zk105_file = os.path.join(dirs_to_scan[0], '5200_24138_00')
tk1_file = os.path.join(dirs_to_scan[0], '1_24138_00')

data_zk102 = np.fromfile(zk102_file, dtype = dt_float)
data_zk105 = np.fromfile(zk105_file, dtype = dt_float)
data_tk1 = np.fromfile(tk1_file, dtype = dt_float)

df_zk102 = pd.DataFrame.from_records(data_zk102).drop(['useless_0', 'useless_1'], axis='columns').set_index('time')
df_zk105 = pd.DataFrame.from_records(data_zk105).drop(['useless_0', 'useless_1'], axis='columns').set_index('time')
df_tk1 = pd.DataFrame.from_records(data_tk1).drop(['useless_0', 'useless_1'], axis='columns').set_index('time')

df_zk102.head(10)

         value             raw_value
time
0.0632  0.0000      6755399441055744
0.5751 -0.0025  18383412203949654016
1.0871  0.0050    150870587516911616
1.5991  0.0025     78812993478983680
2.1111  0.0075    222928181554839552
2.6231  0.0125    367043369630695424
3.1351  0.0025     78812993478983680
3.6471  0.0025     78812993478983680
4.1591  0.0100    294985775592767488
4.6711  0.0125    367043369630695424

### Checking which files do not snap to the time grid...

In [13]:
files = os.scandir(dirs_to_scan[0])

for file in files:
    zk102_file = os.path.join(dirs_to_scan[0], '5197_24138_00')
    data_zk102 = np.fromfile(zk102_file, dtype = dt_float)
    data_other = np.fromfile(file.path, dtype = dt_float)
    df_zk102 = pd.DataFrame.from_records(data_zk102).drop(['useless_0', 'useless_1'], axis='columns').set_index('time')
    df_other = pd.DataFrame.from_records(data_other).drop(['useless_0', 'useless_1'], axis='columns').set_index('time')
    try:
        result_df = pd.concat([df_zk102, df_other], axis=1)
    except:
        print(file.name)
        print(df_other.shape)
        continue

17478_24138_00
(21090, 2)

# The script that hangs the computer is in the following two cells (20 and 21):

In [20]:
def scan_dir(dir_to_scan):
    files = os.scandir(dir_to_scan)
    df_list = []
    i = 0
    for file in files:
#         print(i)
#         i +=1
        para_id = file.name.split('_')[0]
        query = 'SELECT type FROM tm_parameters WHERE id=' + para_id
        
        with engine.connect() as con:
            q_result = con.execute(query)
            
        try:                                          # This is just a dirty little workaround, because some entries
            tm_type = [x[0] for x in q_result][0]     # in the db are missing due to an error i made during export.
        except:                                       # I'll fix it later
            continue
        
        if tm_type == 0:
            dtype = dt_float
        else: dtype = dt_int
        
        data = np.fromfile(file.path, dtype = dtype)
        df = pd.DataFrame.from_records(data).drop(['useless_0', 'useless_1'], axis='columns').set_index('time').rename(columns={'value': para_id, 'raw_value': para_id + '_raw'})
        if para_id == '17478':                        # This is yet another dirty workaroud: one of the files is 
            continue                                  # corrupt for an unknown reason.
        df_list.append(df)
        
    wide_df = pd.concat(df_list, axis=1)
    return wide_df

In [21]:
wide_df = scan_dir(dirs_to_scan[0])

In [23]:
wide_df.head()

,3080,3080_raw,28688,28688_raw,18772,18772_raw,90,90_raw,5220,5220_raw,...,18438,18438_raw,18589,18589_raw,27717,27717_raw,4225,4225_raw,217,217_raw
time,,,,,,,,,,,,,,,,,,,,,
0.0632,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2660.5,6.413126e+18,NaN,NaN,NaN,NaN,NaN,NaN
0.5751,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1.0871,NaN,NaN,NaN,NaN,NaN,NaN,17.222683,9.223372e+18,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1.5991,NaN,NaN,NaN,NaN,1.0,1.109687e+19,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2.1111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.384615,1.639817e+19